
body{
    background-size: cover;
    overflow-x: hidden;
}
.navbar-toggler{
    border: none;
}
.edukasi{
    display: flex;
    gap: 3rem;
    justify-content: center;
}
.edukasi .line{
    padding: 2rem .7rem;
}
.card{
    box-shadow: 0 0 20px #ddd;
}
.navbar-i{
    width: 80px;
    margin: 0 1rem;
    position: relative;
    left: -20px;
    border-radius: 8px;
}
.carousel{
    padding: 1rem 0;
}
.card{
    margin: auto;
}
.edukasi{
    position: relative;
    top: 60px;
    left: 5%;
    padding: 30px 0;
    transform: translate(-50px,-50px);
}
.edukasi span{
    position: relative;
    bottom: 20px;
    color: #fff;
    font-family: sans-serif;
    font-weight: bold;
    letter-spacing: 10px;
    text-transform: uppercase;
    font-size: 40px;
    animation: animate 3s linear infinite;
}
.edukasi span:nth-child(1){
    animation-delay: 0s;
}
.edukasi span:nth-child(2){
    animation-delay: 0.1s;
}
.edukasi span:nth-child(3){
    animation-delay: 0.2s;
}
.edukasi span:nth-child(4){
    animation-delay: 0.3s;
}
.edukasi span:nth-child(5){
    animation-delay: 0.4s;
}
.edukasi span:nth-child(6){
    animation-delay: 0.5s;
}
.edukasi span:nth-child(7){
    animation-delay: 0.6s;
}
@keyframes animate{
    0%{
        filter: blur(0);
    }
    40%{
        filter: blur(10px);
    }
    80%{
        filter: blur(10px);
    }
    100%{
        filter: blur(10px);
    }
}
@media screen and (max-width: 512px){
    .edukasi span{
        letter-spacing: 5px;
        width: 3px;
        text-align: center;
        position: relative;
        left: 10px;
    }
}
footer{
    margin-top: 50px;
    padding: 4rem 0;
    background: #fff;
    text-align: center;
}
.footer-icon{
    margin-bottom: 1rem;
}
.footer-icon a{
    margin: 0 1.5rem;
    text-decoration: none;
}
.footer-icon svg{
    fill: #3e3f40;
}
.footer-icon a:hover svg{
    fill: #000;
}
.ml-1{
    font-size: 70px;
    display: flex;
    justify-content: center;
    color: #ddd;
}
.animate-waving-hand{
    animation: wave 2s linear infinite;
    animation-duration: 2s;
    animation-delay: 0s;
}
@keyframes wave{
    0%{
        transform: rotate(0deg);
    }
    10%{
        transform: rotate(14deg);
    }
    20%{
        transform: rotate(-8deg);
    }
    30%{
        transform: rotate(14deg);
    }
    40%{
        transform: rotate(-4deg);
    }
    50%{
        transform: rotate(10deg);
    }
    60%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(0deg);
    }
}